@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="container">
	<h3>CECROPIA TEST</h3>

	<a class="btn btn-default" href="/patient">Add Patient</a>

	<a class="btn btn-default" href="/allpatient">All Patient</a>

</div>
